.page-template-template-risks {
  .item-header {
    border-bottom: 1px solid $border-color;
    .item-title {
      margin: 0;
      button {
        font-family: $font-family-sans-serif;
        font-size: $font-size-base;
        font-weight: 500;
        text-decoration: none;
        padding: .5rem .75rem;
        @include media-breakpoint-down(sm) {
          font-size: $font-size-16;
          white-space: normal;
          text-align: left;
        }
        &.collapsed {
          &:before {
            content: '\e313';
          }
        }
        &:before {
          font-family: 'Material Icons';
          content: '\e316';
          text-decoration: none !important;
          @include media-breakpoint-down(sm) {
            margin-right: 5px;
          }
        }
        &:hover {
          span {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
