.home-fund-advisor {
  .text-wrapper {
    text-align: center;
    margin: 0 0 60px;
    @include media-breakpoint-down(sm) {
      margin: 0 0 40px;
    }
  }
  .preheader {
    margin: 0 0 10px;
  }
  .fund-advisor-card {
    margin-top: 85px;
    background: $white;
    @include elevate;
    padding: $grid-gutter-width;
    @include media-breakpoint-down(sm) {
      padding: $grid-gutter-width 15px;
      margin-top: 0;
      text-align: center;
    }
  }
  .fsc-logo {
    margin: -30px auto;
    transform: translateY(-50%);
    background: $white;
    width: 420px;
    border-radius: 10px 10px 0 0;
    padding: 20px $grid-gutter-width;
    @include media-breakpoint-down(sm) {
      margin: 0 auto 30px;
      width: 80%;
      padding: 0;
      border-radius: 0;
      transform: none;
    }
    img {
      width: 100%;
    }
  }
}
