.home-fund-overview {
  position: relative;
  z-index: 100;
  .fund-overview-card {
    background: $white;
    @include elevate;
  }
  .text-wrapper {
    display: flex;
    padding: $grid-gutter-width;
    @include media-breakpoint-down(sm) {
      flex-flow: row wrap;
    }
    p:last-child {
      margin: 0;
    }
    @include media-breakpoint-down(sm) {
      padding: $grid-gutter-width 15px;
    }
    .section-title {
      white-space: nowrap;
      margin-right: $grid-gutter-width;
      margin-bottom: 0;
      @include media-breakpoint-down(sm) {
        margin: 0 0 15px;
      }
    }
  }
  .metrics {
    display: flex;
    flex-flow: row wrap;
    .metric {
      padding: 45px $grid-gutter-width;
      border-top: 1px solid $border-color;
      flex: 1 0 auto;
      display: flex;
      justify-content: center;
      text-align: center;
      font-family: $font-family-sans-serif;
      flex-flow: row wrap;
      @include media-breakpoint-down(sm) {
        padding: $grid-gutter-width 15px;
        border-right: 0 !important;
      }
      &:not(:last-child) {
        border-right: 1px solid $border-color;
      }
      .metric-value {
        font-size: $font-size-36;
        margin: 0 0 20px;
        display: flex;
        font-weight: 700;
        color: $blue-highlight;
        line-height: 1;
        text-align: center;
        justify-content: center;
        flex-flow: row wrap;
        @include media-breakpoint-down(sm) {
          font-size: $font-size-24;
          margin: 0 0 15px;
        }
        small {
          font-size: $font-size-16;
          font-weight: 500;
          margin: 2px 0 0;
          text-align: left;
          line-height: 1;
          @include media-breakpoint-down(sm) {
            font-size: $font-size-13;
            margin: 0;
          }
        }
        .value-group {
          display: flex;
          text-align: center;

          & + .value-group {
            &:before {
              content: '/';
              color: $headings-color;
              margin: 0 10px;
              font-weight: 400;
            }
          }
          .value-main {
            margin-right: 10px;
          }
        }
      }
      .metric-label {
        color: $headings-color;
        text-transform: uppercase;
        display: block;
        font-size: $font-size-14;
        letter-spacing: 1px;
        font-weight: 700;
      }
    }
  }
}
