.home-section-performance {
  background-color: $gray-dark;
  background: linear-gradient(45deg, #0e1114 0%,#252c33 100%);
  color: $white;
  padding: ($grid-gutter-width * 2.666) 0;
  position: relative;
  &:before,
  &:after {
    content: '';
    position: absolute;
    background-size: cover;
    display: block;
    height: 480px;
  }
  &:before {
    background-image: url('assets/img/bricks-2-left.png');
    top: 285px;
    left: 0;
    width: 306px;
    height: 720px;
  }
  &:after {
    background-image: url('assets/img/bricks-2-right.png');
    top: 225px;
    right: 0;
    width: 308px;
    height: 973px;
  }
  .section-header {
    border-bottom: 1px solid rgba($border-color, .4);
    display: flex;
    justify-content: space-between;
    margin: 0 0 60px;
    .section-title {
      color: $white;
      margin: 0 0 10px;
    }
    .nav-tabs {
      display: flex;
      border: 0;
      .tab {
        a {
          color: $white;
          border-bottom: 4px solid transparent;
          font-family: $font-family-sans-serif;
          font-size: $font-size-16;
          font-weight: 500;
          padding: 4px 20px 0;
          line-height: 46px;
          display: block;
          text-decoration: none;
          &.active {
            color: #3DF5BE;
            border-color: #3DF5BE;
            cursor: default;
            &:hover {
              background: transparent;
            }
          }
          &:hover {
          background: rgba($white, .08);
        }
        }
      }
    }
  }
  .tab-content {
    margin: 0 0 40px;
  }
}
