.table-performance {
  font-family: $font-family-sans-serif;
  background: transparent;
  margin: 0;
  caption {
    margin-top: 10px;
    font-size: $font-size-16;
    font-family: $font-family-base;
    color: $white;
    span {
      @include media-breakpoint-down(sm) {
        display: block;
        margin: 0 0 10px;
        width: 100%;
      }
      &:not(:first-child) {
        margin-left: 30px;
        margin-bottom: 0;
        @include media-breakpoint-down(sm) {
          margin-left: 0;
          margin-bottom: 0;
        }
      }
    }
  }
  thead {
    &:first-child {
      tr {
        th {
          &:first-child {
            border-radius: 10px 0 0 0;
          }
          &:last-child {
            border-radius: 0 10px 0 0;
          }
        }
      }
    }
    tr {
      th {
        background-color: rgba($white, .1);
        font-size: $font-size-21;
        font-weight: 500;
        border-color: #979797;
        @include media-breakpoint-down(sm) {
          font-size: $font-size-16;
        }
        &:last-child {
          text-align: right;
        }
        small {
          font-size: $font-size-13;
          margin-left: 5px;
          @include media-breakpoint-down(sm) {
            margin: 0;
            display: block;
          }
        }
      }
    }
  }
  tbody {
    tr {
      td {
        background: rgba(#000000, .3);
        border-color: #979797;
        @include media-breakpoint-down(sm) {
          font-size: $font-size-16;
        }
        &:last-child {
          text-align: right;
        }
      }
    }
  }
}
