.page-masthead {
  background: $gray-dark;
  color: $white;
  padding: $header-height 0 ($grid-gutter-width * 1.5);
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('assets/img/hero-bg.jpg');
  margin: 0 0 ($grid-gutter-width * 2);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  overflow: hidden;
  @include media-breakpoint-down(lg) {
    padding: $header-height-md 0 ($grid-gutter-width * 1.5);
  }
  @include media-breakpoint-down(md) {
    padding: $header-height-md 0 $grid-gutter-width;
    margin: 0 0 $grid-gutter-width;
  }
  @include media-breakpoint-down(sm) {
    padding: $header-height-sm 0 $grid-gutter-width;
    margin: 0 0 $grid-gutter-width;
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 221px;
    background-size: cover;
    display: block;
    height: 480px;
    @include media-breakpoint-down(md) {
      top: 100px;
      height: 350px;
    }
    @include media-breakpoint-down(sm) {
      top: 75px;
      height: 200px;
    }
  }
  &:before {
    background-image: url('assets/img/bricks-left.png');
    left: 0;
    width: 320px;
    @include media-breakpoint-down(md) {
      width: 200px;
    }
  }
  &:after {
    background-image: url('assets/img/bricks-right.png');
    right: 0;
    top: 181px;
    width: 254px;
    @include media-breakpoint-down(md) {
      top: 150px;
      width: 200px;
    }
    @include media-breakpoint-down(md) {
      top: 100px;
      width: 125px;
    }
  }
  .masthead-content {
    margin-top: ($grid-gutter-width * 2);
    @include media-breakpoint-down(sm) {
      margin-top: $grid-gutter-width;
    }
    .page-title {
      color: $white;
      font-family: $font-family-display;
      font-size: $font-size-display;
      letter-spacing: .5px;
      line-height: 1.125;
      margin: 0;
      @include media-breakpoint-down(md) {
        font-size: $font-size-display-md;
      }
      @include media-breakpoint-down(sm) {
        font-size: $font-size-display-sm;
      }
      @include media-breakpoint-down(xs) {
        font-size: $font-size-display-xs;
      }
    }
    .subtext {
      margin: ($grid-gutter-width / 2) 0 0;
      font-size: $font-size-21;
      font-weight: 500;
      @include media-breakpoint-down(sm) {
        font-size: $font-size-base;
        line-height: 1.25;
      }
      p {
        font-size: $font-size-21;
        @include media-breakpoint-down(sm) {
          font-size: $font-size-base;
          line-height: 1.25;
        }
        &:last-child {
          margin: 0;
        }
      }
      a {
        color: $white;
        text-decoration: underline;
        &:hover {
          color: $white;
        }
      }
    }
  }
}
