:focus {
  outline: 0 !important;
}

body {

}

.no-scroll {
  overflow-y: hidden;
  height: 100%;
  min-height: 0;
  display: block !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

main {
  padding: 0 0 ($grid-gutter-width * 2);
  @include media-breakpoint-down(sm) {
    padding: 0 0 $grid-gutter-width;
  }
}

.container-fluid {
  @include media-breakpoint-up(xs) {
    padding: 0 ($grid-gutter-width / 2);
  }
  @include media-breakpoint-up(sm) {
    padding: 0 $grid-gutter-width;
  }
  @include media-breakpoint-up(lg) {
    padding: 0 $grid-gutter-width;
  }
  @include media-breakpoint-up(xl) {
    padding: 0 ($grid-gutter-width * 2);
  }
}

.preheader {
  font-size: $font-size-14;
  font-family: $font-family-sans-serif;
  color: $secondary;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  @include media-breakpoint-down(xs) {
    font-size: $font-size-12;
    margin: 0 0 5px;
  }
}

.card-title {
  font-family: $font-family-display;
  font-size: $font-size-36;
  margin: 0 0 ($grid-gutter-width / 1.125);
  @include media-breakpoint-down(sm) {
    font-size: $font-size-24;
  }
}

.card-subtitle {
  font-family: $font-family-display;
  font-size: $font-size-base;
  margin: 0 0 ($grid-gutter-width / 1.125);
}

.card-title-sm {
  font-family: $font-family-display;
  font-size: $font-size-24;
  margin: 0 0 ($grid-gutter-width / 1.125);
  @include media-breakpoint-down(sm) {
    font-size: $font-size-21;
    margin: 0 0 10px;
  }
}

.section {
  margin: 0 0 ($grid-gutter-width * 2.666);
  @include media-breakpoint-down(sm) {
    margin: 0 0 40px;
  }
  @include media-breakpoint-down(xs) {
  }
}

.section-title {
  font-size: $font-size-36;
  font-family: $font-family-display;
  margin: 0 0 $grid-gutter-width;
  @include media-breakpoint-down(sm) {
    margin: 0 0 $grid-gutter-width;
    font-size: $font-size-display-sm;
  }
  @include media-breakpoint-down(xs) {
    font-size: $font-size-display-xs;
    margin: 0 0 ($grid-gutter-width / 2);
  }
}

.section-summary {
  margin: 0 0 60px;
  i {
    font-size: 16px;
    vertical-align: middle;
    margin-left: 2px;
  }
}

.section-follow-up {
  text-align: center;
  color: $gray-dark;
  margin-top: ($grid-gutter-width * 2);
  @include media-breakpoint-down(sm) {
    margin-top: $grid-gutter-width;
    text-align: left;
  }
  @include media-breakpoint-down(xs) {
    margin-top: ($grid-gutter-width / 2);
  }
  &:before {
    content: '';
    width: 120px;
    height: 3px;
    display: block;
    margin: 0 auto $grid-gutter-width;
    background: $gray-dark;
    @include media-breakpoint-down(sm) {
      height: 2px;
      margin: 0 auto ($grid-gutter-width / 2);
    }
  }
  p {
    font-weight: 500;
    font-size: $font-size-21;
    @include media-breakpoint-down(sm) {
      font-size: $font-size-base;
      //line-height: 1.25;
    }
  }
  .btn-lg {
    font-size: $font-size-base;
    margin-top: ($grid-gutter-width / 2);
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }
}
