.btn {
  font-family: $font-family-sans-serif;
  font-size: $font-size-15;
  i {
    vertical-align: middle;
  }
}

.btn-sm,
.btn-group-sm > .btn {
  font-size: .875rem;
}

.btn-lg,
.btn-group-lg > .btn {
  font-size: $font-size-base;
}
