// Benton sans
@font-face {
    font-family: 'BentonSans';
    src: url('assets/fonts/BentonSans-RegularItalic.woff2') format('woff2'),
        url('assets/fonts/BentonSans-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'BentonSans';
    src: url('assets/fonts/BentonSans-Medium.woff2') format('woff2'),
        url('assets/fonts/BentonSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSans';
    src: url('assets/fonts/BentonSans-MediumItalic.woff2') format('woff2'),
        url('assets/fonts/BentonSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'BentonSans';
    src: url('assets/fonts/BentonSans-Bold.woff2') format('woff2'),
        url('assets/fonts/BentonSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSans';
    src: url('assets/fonts/BentonSans-Regular.woff2') format('woff2'),
        url('assets/fonts/BentonSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSans';
    src: url('assets/fonts/BentonSans-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/BentonSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

// Benton Sans Condensed
@font-face {
    font-family: 'BentonSansCond';
    src: url('assets/fonts/BentonSansCond-Bold.woff2') format('woff2'),
        url('assets/fonts/BentonSansCond-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSansCond';
    src: url('assets/fonts/BentonSansCond-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/BentonSansCond-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

// Sentinel
@font-face {
    font-family: 'Sentinel';
    src: url('assets/fonts/Sentinel-BookItalic.woff2') format('woff2'),
        url('assets/fonts/Sentinel-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sentinel';
    src: url('assets/fonts/Sentinel-MediumItalic.woff2') format('woff2'),
        url('assets/fonts/Sentinel-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Sentinel';
    src: url('assets/fonts/Sentinel-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/Sentinel-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Sentinel';
    src: url('assets/fonts/Sentinel-Bold.woff2') format('woff2'),
        url('assets/fonts/Sentinel-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sentinel';
    src: url('assets/fonts/Sentinel-Medium.woff2') format('woff2'),
        url('assets/fonts/Sentinel-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sentinel';
    src: url('assets/fonts/Sentinel-Book.woff2') format('woff2'),
        url('assets/fonts/Sentinel-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sentinel';
    src: url('assets/fonts/Sentinel-SemiboldItalic.woff2') format('woff2'),
        url('assets/fonts/Sentinel-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Sentinel';
    src: url('assets/fonts/Sentinel-Semibold.woff2') format('woff2'),
        url('assets/fonts/Sentinel-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
